<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.canthonyscott.microinjectioncalc">
    // app permissions needed
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MOInjection"
            android:label="@string/title_activity_moinjection"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RNAInjection"
            android:label="@string/title_activity_rnainjection"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".AddMorpholino"
            android:label="@string/title_activity_add_morpholino"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RemoveMO"
            android:label="@string/title_activity_remove_mo"
            android:parentActivityName=".AddMorpholino"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AddMorpholino" />
        </activity>
        <activity
            android:name=".MakeAnInjectionMix"
            android:label="@string/title_activity_make_an_injection_mix"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canthonyscott.microinjectioncalc.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canthonyscott.microinjectioncalc.MainActivity" />
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MOInjection"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canthonyscott.microinjectioncalc.MOInjection" />
        </activity>
        <activity
            android:name=".CreateGroupID"
            android:label="@string/title_activity_create_group_id"
            android:parentActivityName=".Login"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canthonyscott.microinjectioncalc.Login" />
        </activity>
        <activity
            android:name=".manageSharedOligos"
            android:label="@string/title_activity_manage_shared_oligos"
            android:parentActivityName=".RemoveMO"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.canthonyscott.microinjectioncalc.RemoveMO" />
        </activity>
    </application>

</manifest>